# ===================================================================
# 🛠️ Python Virtual Environment
# ===================================================================
.venv/
env/
*.pyc
__pycache__/

# ===================================================================
# 🌐 IDEs and Editors
# ===================================================================
.idea/
.vscode/
*.swp
*.swo
*.log

# ===================================================================
# 📦 Dependency Files
# ===================================================================
*.egg-info/
.Python
pip-log.txt
pip-delete-this-directory.txt

# ===================================================================
# 🤖 Robot Framework Reports and Logs
# ===================================================================
output.xml
log.html
report.html
debug.log
Reportes/
*.png

# ===================================================================
# 📱 Appium - Android and iOS Specific
# ===================================================================
*.apk
*.ipa
*.app
.DS_Store

# ===================================================================
# 📝 Miscellaneous
# ===================================================================
*.db
*.sqlite
*.DS_Store
*.coverage
coverage.xml
*.lock

# ===================================================================
# 🚀 Allure Reports
# ===================================================================
allure-results/
allure-report/
